.parentContainer {
  color: var(--bg-color-primary);
  font-size: 15px;
  margin-top: 80px;
  font-weight: bold;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 680px;
  height: 260px;
  border: 3px solid white;
  border-radius: 8px;
}

.childContainer {
  width: 673px;
  height: 251px;
  background-color: var(--text);
  border-radius: 8px;
  border: 4px solid var(--bg-color-secondary);
  transition: top 0.1s ease-in-out, left 0.1s ease-in-out;
  text-align: center;
  padding: 50px;
}

@media screen and (max-width: 768px) {
  .parentContainer {
    width: 380px;
    margin-top: 0;
  }
  .childContainer {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.BubbleTextContainer {
  width: 51%;
  height: max(25vh, 220px);
  background-color: var(--text);
  color: var(--bg-color-secondary);
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;

  .AboutSubHeading {
    width: 90%;
    font-size: var(--text-lg);
    text-align: center;
  }

  .AboutContent {
    width: 90%;
    text-align: center;
    margin-top: 40px;
    font-size: var(--text-sm);
  }

  @media screen and (max-width: 768px) {
    width: 90%;
    height: 220px;
  }
}

.ContainerArrowPointer {
  width: 0;
  height: 0;
  border-left: 35px solid transparent;
  border-right: 35px solid transparent;
  border-bottom: 100px solid white;
  position: absolute;
  bottom: -55px;
  z-index: -1;

  @media screen and (max-width: 768px) {
    bottom: -35px;
  }
}

#TextContainerLeft {
  border-radius: 0px 30px 30px 0;

  .ContainerArrowPointer {
    transform: rotate(205deg);
    left: 180px;

    @media screen and (max-width: 768px) {
      left: 100px;
    }
  }
}

#TextContainerRight {
  border-radius: 30px 0px 0px 30px;
  margin-left: auto;
  margin-bottom: 80px;

  .ContainerArrowPointer {
    transform: rotate(-205deg);
    right: 180px;

    @media screen and (max-width: 768px) {
      right: 100px;
    }
  }
}
