.googleSignin {
  width: 280px;
  height: 55px;
  background-color: var(--red-darker);
  border-radius: 6px;
  margin-top: 60px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 25px;
  padding-left: 15px;
  color: var(--text);
  font-size: 18px;
  font-weight: bold;
  text-transform: none;

  &:hover {
    background-color: rgb(178, 34, 34);
  }
}

.line {
  height: 40px;
  width: 1px;
  background-color: rgba(255, 255, 255, 0.4);
  margin-left: 5px;
  margin-right: 5px;
}
