.buttonRed {
  background-color: var(--red-darker);
  border-radius: 6px;
  color: var(--text);
  font-weight: bold;
  text-transform: none;
  &:hover {
    background-color: rgb(178, 34, 34);
  }
}

.googleSignin {
  width: 280px;
  height: 55px;
  margin-top: 60px;
  display: flex;
  align-items: center;
  padding-right: 25px;
  padding-left: 15px;
  font-size: 18px;
}

.notLoading {
  justify-content: space-between;
}

.loading {
  justify-content: center;
}

.line {
  height: 40px;
  width: 1px;
  background-color: rgba(255, 255, 255, 0.4);
  margin-left: 5px;
  margin-right: 5px;
}

.progress {
  color: var(--text);
}

.getOnChrome {
  width: 150px;
  height: 40px;
  font-size: 13px;
  margin-left: auto;
}
