.button {
  border-radius: 7px;
  text-transform: none;
}

.buttonRed {
  background-color: var(--red-darker);
  color: var(--text);
  &:hover {
    background-color: rgb(178, 34, 34);
  }
}

.buttonWhite {
  background-color: var(--text);
  color: var(--bg-color-primary);
  &:hover {
    background-color: #bebdbf;
  }
}

.googleSignin {
  width: 280px;
  height: 55px;
  margin-top: 60px;
  display: flex;
  align-items: center;
  padding-right: 25px;
  padding-left: 15px;
  font-size: 48px;
}

.notLoading {
  justify-content: space-between;
}

.loading {
  justify-content: center;
}

.line {
  height: 40px;
  width: 1px;
  background-color: rgba(255, 255, 255, 0.4);
  margin-left: 5px;
  margin-right: 5px;
}

.progress {
  color: var(--text);
}

.getOnChrome {
  img {
    margin-right: 18px;
  }
}

.large {
  width: 275px;
  height: 60px;
  font-weight: bold;
}

.small {
  width: 150px;
  height: 40px;
  font-size: var(--text-xs);
  font-weight: bold;
}

.medium {
  width: 160px;
  height: 58px;
  font-size: 16px;
  font-weight: bold;
}
