.mainLayout {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100% - var(--nav-height));
}

.container {
  border: 2px solid var(--text);
  border-radius: 4px;
  background-color: var(--bg-color-secondary);
  display: flex;
  align-items: center;
  flex-direction: column;
  color: var(--text);
  margin: 20px;
}
.signinContainer {
  width: 570px;
  height: 382px;
}

.successContainer {
  width: 828px;
  height: 613px;
}
.heading {
  font-size: 37px;
  margin-top: 80px;
}

.subHeading {
  margin-top: 18px;
  font-size: 24px;
}

@media only screen and (max-width: 768px) {
  .signinContainer {
    width: 420px;
  }
  .heading {
    font-size: 30px;
  }

  .subHeading {
    font-size: 17px;
  }

  .successContainer {
    .subHeading {
      margin-bottom: 50px;
    }

    width: 460px;
    height: 520px;
  }
}
