.nav {
  background-color: var(--bg-color-secondary);
  height: var(--nav-height);
  display: flex;
  align-items: center;
  padding: 15px 50px;
  position: relative;
  overflow: hidden;
}

.waveBg {
  position: absolute;
  right: -350px;
  height: auto;
}

@media only screen and (max-width: 600px) {
  .nav {
    justify-content: center; /* Center the content on mobile */
  }

  .waveBg {
    display: none; /* Hide the wave background on mobile */
  }
}
