.nav {
  background-color: var(--bg-color-secondary);
  height: var(--nav-height);
  display: flex;
  align-items: center;
  padding: 15px 50px;
  width: 100vw;
  position: fixed;
  overflow: hidden;
  z-index: 3;
}

.navButton {
  display: flex;
}

@media only screen and (max-width: 600px) {
  .nav {
    justify-content: center; /* Center the content on mobile */
  }

  .navButton {
    display: none;
  }
}
