.backgroundPatternContainer {
  width: 120vw;
  height: calc(100vh - var(--nav-height));
  overflow: hidden;
  position: absolute;
}

.svgWaves {
  transform: scale(1);
  z-index: -100;
  position: absolute;
  overflow: hidden;

  path {
    width: 30000px;
    height: 100%;
  }
}
