@keyframes wave {
  0%,
  100% {
    background-position: 0 0; /* Start position of the wave */
  }
  50% {
    background-position: 100% 50%; /* End position of the wave */
  }
}

.backgroundImage {
  width: 100%;
  height: calc(100% - var(--nav-height));
  position: absolute;
  z-index: -100;
  background-image: url("/patterns/BG.svg");
  background-repeat: repeat-x;
}

.notResizing {
  animation: wave 20s cubic-bezier(0.6, 0, 0.2, 1) infinite; /* Apply animation to the background */
}

.isResizing {
  animation: none;
}
