:root {
  /* colors */
  --bg-color-primary: #242424;
  --bg-color-secondary: #1f1e1e;
  --red: #de5246;
  --red-darker: #e13c2d;
  --text: #ffffff;

  /* constant sizes */
  --nav-height: 60px;
}

::selection {
  background-color: #ffa500; /* Set your desired background color */
  color: #fff; /* Set your desired text color */
}

html,
body {
  height: 100%;
}
