:root {
  /* colors */
  --bg-color-primary: #242424;
  --bg-color-secondary: #1f1e1e;
  --red: #de5246;
  --red-darker: #e13c2d;
  --text: #ffffff;

  /* constant sizes */
  --nav-height: 60px;
  font-size: 62.5%;

  --text-xs: 13px;
  --text-sm: 14px;
  --text-md: 20px;
  --text-lg: 20px;
  --text-xl: 40px;
  --text-2xl: 60px;
}

@media screen and (min-width: 768px) {
  :root {
    --text-xs: 13px;
    --text-sm: 16px;
    --text-md: 18px;
    --text-lg: 24px;
    --text-xl: 55px;
    --text-2xl: 34px;
  }
}

@media screen and (min-width: 1024px) {
  :root {
    --text-xs: 13px;
    --text-sm: 18px;
    --text-md: 25px;
    --text-lg: 30px;
    --text-xl: 64px;
    --text-2xl: 80px;
  }
}

@media screen and (min-width: 2440px) {
  :root {
    --text-xs: 13px;
    --text-sm: 30px;
    --text-md: 35px;
    --text-lg: 40px;
    --text-xl: 80px;
    --text-2xl: 100px;
  }
}

::selection {
  background-color: #ffa500; /* Set your desired background color */
  color: #fff; /* Set your desired text color */
}

html,
body {
  height: 100%;
}
